h1{
    font-family: Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    color: #214964;
    background-color: rgba(73, 92, 121, 0.349);
}

form{
    font-family: Helvetica, sans-serif;
    font-size: small;
    width: 350px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: #ccc;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #fc0000;
    padding-top: 20px;
}

button{
    text-align: center;
    font-weight: bold;
}